*,
*::before,
*::after 
{
    margin: 0;
    padding:0;
    font-family: "Montserrat", "Cairo", sans-serif;
}

:root {

    --dark-color: #1f2937;
    --white-color: #f9faf8;
    --alt-white: #e5e7eb;
}


nav.nav-container
{
    background-color: var(--dark-color);
    color: var(--white-color);

    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 50px;
}

nav.nav-container > * {flex:1;}

.nav-container .logo-container
{

    padding:30px;
    box-sizing:border-box;
}

.nav-container ul.links-list
{
    list-style: none;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.nav-container .links-list li a 
{
    color: var(--alt-white);
    text-decoration: none;
}